<h1>New Patient</h1>

<img src="{{data.profilePhoto}}" alt="patient photo" width="150">

<p>First name: {{data.firstName}}</p>
<p>Last name: {{data.lastName}}</p>
<p>Age: {{data.age}}</p>
<p>Gender: {{data.gender}}</p>